 Bert sentiment analysis and workflow /智能客服.yml
app:
  description: 根据用户的问题给出精准的回答
  icon: face_with_monocle
  icon_background: '#FFE4E8'
  mode: advanced-chat
  name: 智能客服
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528768556-1711528802931
      source: '1711528768556'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1762158040307-source-1762158138563-target
      source: '1762158040307'
      sourceHandle: source
      target: '1762158138563'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762158138563-source-1762158152044-target
      source: '1762158138563'
      sourceHandle: source
      target: '1762158152044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-source-1762160000194-target
      source: '1711528708197'
      sourceHandle: source
      target: '1762160000194'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1762160000194-1-1711528768556-target
      source: '1762160000194'
      sourceHandle: '1'
      target: '1711528768556'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1762160000194-2-1762158040307-target
      source: '1762160000194'
      sourceHandle: '2'
      target: '1762158040307'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1762160000194-1762160067906-1762160083920-target
      source: '1762160000194'
      sourceHandle: '1762160067906'
      target: '1762160083920'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 52
      id: '1711528708197'
      position:
        x: -678.2247564103437
        y: 808.8814983897075
      positionAbsolute:
        x: -678.2247564103437
        y: 808.8814983897075
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - hhzKfaKIBYsg7btoKmMQb5e3RnbAsALdyCWS1/yi/2Ih9iL9P5L2O9v1zVMeeDvQ
        desc: 获取售后 SOP 的相关知识
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 知识检索
        type: knowledge-retrieval
      dragging: false
      height: 118
      id: '1711528768556'
      position:
        x: 41.22944463120831
        y: 663.3689967352543
      positionAbsolute:
        x: 41.22944463120831
        y: 663.3689967352543
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528768556'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 935347f8-8ff4-4435-bc6a-9a097e0be3dd
          role: system
          text: '你现在需要扮演一名SmartClean X1扫地机器人的产品信息解答助手，你的核心任务是基于以下提供的产品信息，准确、清晰地回答用户关于该产品的各类问题。


            在回答时，请遵循以下规则：

            1. 严格依据所提供的产品信息内容进行回应，不得编造未提及的功能、参数、规格等信息。

            2. 对于产品概述、亮点、关键规格、包装清单、兼容与配件、认证与安全、保修与售后、产品SKU/市场信息、常见适用场景、备注与合规提示等方面的问题，要从对应的内容板块中提取准确信息进行解答。

            3. 若用户的问题在提供的信息中没有明确答案，应如实告知用户“关于该问题，目前没有相关信息”，避免猜测或模糊回应。

            4. 回答需简洁明了，条理清晰，让用户能够快速获取所需信息。'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528802931'
      position:
        x: 377.1263152308884
        y: 681.0270312644695
      positionAbsolute:
        x: 377.1263152308884
        y: 681.0270312644695
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528833796'
      position:
        x: 694.5958839719758
        y: 691.7599689995735
      positionAbsolute:
        x: 694.5958839719758
        y: 691.7599689995735
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - n+RQpl3/cAz5B964efPipVmAGeZdizOMZMRYwbIB+WrHb5flElnuqpFx1Fmbnn1J
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1762158040307'
      position:
        x: 41.22944463120831
        y: 908.4244833067231
      positionAbsolute:
        x: 41.22944463120831
        y: 908.4244833067231
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1762158040307'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5b890140-23cb-4b70-8b92-745f38ebb1c4
          role: system
          text: '

            你现在是一名专业的扫地机器人使用顾问，需要基于提供的《扫地机器人 — 使用说明书（示例）》内容，为用户解答关于扫地机器人的各类使用问题。请遵循以下准则进行回复：


            1. 回复必须严格依据说明书内容，不得编造信息。若用户问题超出说明书范围，需明确告知“该问题未在说明书中提及，建议参考官方最新指引或联系售后咨询”。


            2. 针对产品组成、安全警示、初次使用、充电开关机、APP连接、清扫模式、拖地功能、日常维护、故障排查、保修售后等方面的问题，需准确引用说明书对应章节的内容进行解答，确保信息完整且无误。


            3. 回复需条理清晰，语言通俗易懂，避免使用专业术语堆砌。对于步骤类问题（如初次安装、APP配网等），需按序号分点说明，便于用户理解操作。


            4. 涉及安全相关的问题（如禁止在潮湿环境使用、儿童使用注意事项等），需着重强调，提醒用户严格遵守安全警示内容。


            5. 当用户询问故障问题时，需先引导用户对照说明书中的“故障排查”章节进行初步排查，若问题仍未解决，建议其联系售后并说明售后流程。


            6. 回复结尾可根据情况补充相关温馨提示（如维护小贴士、使用注意事项等），提升用户体验。'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1762158138563'
      position:
        x: 343.2294446312083
        y: 908.4244833067231
      positionAbsolute:
        x: 343.2294446312083
        y: 908.4244833067231
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1762158138563.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1762158152044'
      position:
        x: 645.2294446312083
        y: 908.4244833067231
      positionAbsolute:
        x: 645.2294446312083
        y: 908.4244833067231
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 产品信息
        - id: '2'
          name: 产品使用
        - id: '1762160067906'
          name: 退款问题
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1711528708197'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1762160000194'
      position:
        x: -376.22475641034373
        y: 808.8814983897075
      positionAbsolute:
        x: -376.22475641034373
        y: 808.8814983897075
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '您好，关于退款申请，目前说明书未明确具体流程，建议您先联系官方售后（热线 400‑XXXX‑XXX/APP 内工单），提供购买凭证与设备相关信息，售后将为您核实处理。

          抱歉，退款相关细则需以官方售后政策为准，您可通过客服热线 400‑XXXX‑XXX 或售后邮箱 support@example.com 咨询，说明情况后工作人员会协助您办理。

          若需申请退款，请先联系售后提交工单（APP 内操作），上传购买凭证与问题说明，售后审核通过后会告知后续退款流程与时效，感谢您的理解。'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 292
      id: '1762160083920'
      position:
        x: 41.22944463120831
        y: 1037.4244833067232
      positionAbsolute:
        x: 41.22944463120831
        y: 1037.4244833067232
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 244.70298874761625
      y: -199.7707019754049
      zoom: 0.6124062455328185
  rag_pipeline_variables: []
